(cloudflare) {
  tls {
    dns cloudflare {$CLOUDFLARE_API_TOKEN}
    resolvers 1.1.1.1 1.0.0.1
  }
}

# birdnet
birdnet.{$TAILNET_CNAME} {
  reverse_proxy http://apps.home:8080
  import cloudflare
}

# glance
home.{$TAILNET_CNAME} {
  reverse_proxy http://apps.home:3080
  import cloudflare
}

# readeck
readeck.{$TAILNET_CNAME} {
  reverse_proxy http://apps.home:8000
  import cloudflare
}

# wud
wud.{$TAILNET_CNAME} {
  reverse_proxy http://apps.home:3090
  import cloudflare
}

# komodo
komodo.{$TAILNET_CNAME} {
  reverse_proxy http://apps.home:9120
  import cloudflare
}

# pterodactyl panel
panel.{$TAILNET_CNAME} {
  reverse_proxy http://apps.home:2080
  import cloudflare
}

# pterodactyl wings
wings.{$TAILNET_CNAME} {
  reverse_proxy http://games.home:8080
  import cloudflare
}
