(cloudflare) {
  tls {
    dns cloudflare {$CLOUDFLARE_API_TOKEN}
  }
}

# birdnet
birdnet.{$TAILNET_CNAME} {
  reverse_proxy http://apps:8080
  import cloudflare
}

# glance
home.{$TAILNET_CNAME} {
  reverse_proxy http://apps:3080
  import cloudflare
}

# readeck
readeck.{$TAILNET_CNAME} {
  reverse_proxy http://apps:8000
  import cloudflare
}

# wud
wud.{$TAILNET_CNAME} {
  reverse_proxy http://apps:3090
  import cloudflare
}

# komodo
komodo.{$TAILNET_CNAME} {
  reverse_proxy http://apps:9120
  import cloudflare
}

# pterodactyl panel
panel.{$TAILNET_CNAME} {
  reverse_proxy http://{$TS_APPS_IP}:2080
  import cloudflare
}

# pterodactyl wings
wings.{$TAILNET_CNAME} {
  reverse_proxy http://{$TS_GAMES_IP}:8080
  import cloudflare
}
