(cloudflare) {
  tls {
    dns cloudflare {$CLOUDFLARE_API_TOKEN}
  }
}

# birdnet
birdnet.{$CLOUDFLARE_DOMAIN} {
  reverse_proxy http://apps:8080
  import cloudflare
}

# glance
home.{$CLOUDFLARE_DOMAIN} {
  reverse_proxy http://apps:3080
  import cloudflare
}

# readeck
readeck.{$CLOUDFLARE_DOMAIN} {
  reverse_proxy http://apps:8000
  import cloudflare
}

# wud
wud.{$CLOUDFLARE_DOMAIN} {
  reverse_proxy http://apps:3090
  import cloudflare
}

# komodo
komodo.{$CLOUDFLARE_DOMAIN} {
  reverse_proxy http://apps:9120
  import cloudflare
}

# beszel
beszel.{$CLOUDFLARE_DOMAIN} {
  reverse_proxy http://apps:8090
  import cloudflare
}

# homeassistant
homeassistant.{$CLOUDFLARE_DOMAIN} {
  reverse_proxy http://homeassistant.{$TAILNET_NAME}:8123
  import cloudflare
}
